.vert{
    text-align: center;
    margin-top: 0.4rem;
    color : #32bd5e
}
button{
    background-color: #ba970d;
    border-color: #ba970d;
    color: black;
}
div{
    border-bottom: solid;
    padding: 2rem;
    border-color: #ba970d;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-top: 0.5rem;
}
p{
    width: 200px;
}