div{
    text-align: center
}
.card{
    margin:0.5rem;
    
}
img{
    cursor:pointer;
}
.card-body{
    height: 16rem;
}
a{
   position: absolute;
   bottom: 0.5rem;
   color:rgb(184, 47, 13);
    
}