div{
    text-align: center
}
.card{
    margin:0.5rem;
    
}
.card-body{
    height: 16rem;
}
.posBas{
    font-weight: bold;
   position: absolute;
   bottom: 0.5rem;
   left: 0;
   right: 0;
   text-align: center;
   color:rgb(163, 40, 9)
    
}