div{
    text-align: center;
    border: solid 0.05rem;
    color: #c6a009a3;
}
.card{
    margin:0.5rem;
    background-color: #a5b2a5;
    
}
img{
    cursor:pointer;
}
.card-body{
    height: 16rem;
    position: relative;
    color: black
}
.posBas{
    font-weight: bold;
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    text-align: center;
    color:rgb(163, 40, 9)
}

button {
   background-color: #a46c6c;
   border-style: groove;
   box-shadow: 6px 6px 0px black;
}

h4 {
   position: absolute;
   text-align: center;
   bottom: 0.5rem;
   left: 6.5rem;
}
.line{
    border: solid 0.1rem;
    color: #997f18;
    position: absolute;
    bottom: 3rem;
    width: 80%;
}
